<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <div th:text="${'Name and surname: ' + user.getFullName()}"></div>
    <div th:text="${'Year of birth: ' + user.getYearOfBirth()}"></div>
</div>
<hr/>
<div th:if="${books.isEmpty()}">
    <p>This user without books</p>

</div>
<div th:if="${!books.isEmpty()}">
    <div>Books:</div>
    <ul th:each="book : ${books}">
        <li th:style="${book.isExpired()} ? 'color:red' : 'color:black'"
            th:text="'Title: ' +  ${book.getTitle() + ', author: ' + book.getAuthor() + ', year of publication ' + book.getYear()}"></li>
        <div th:if="${book.isExpired() == true}">
            <span style="color:red">BOOK EXPIRED</span>
        </div>
    </ul>
</div>
<hr/>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="EDIT">
</form>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="DELETE">
</form>
</body>
</html>