<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section}, 'Books')}">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<section>
    <h2>Books</h2>
    <div class="mb-3">
        <a th:href="@{/books/new}" class="btn btn-success">Create new book</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">Title</a></td>
                <td th:text="${book.getAuthor()}">Author</td>
                <td th:text="${book.getYear()}">Year</td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>
