<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <div th:text="${'Title: ' + book.getTitle()}"></div>
    <div th:text="${'Author: ' + book.getAuthor()}"></div>
    <div th:text="${'Year of publication: ' + book.getYear()}"></div>
</div>
<hr/>
<div th:if="${owner}">
    <span>Book now with: </span>
    <span th:text="${owner.getFullName()}">Name</span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="RELEASE BOOK">
    </form>
</div>

<div th:if=${empty}>
    <span th:text="${empty}"></span>
</div>

<div th:if="${users}">
    <span>This book without user right now. You can assign it:</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="user">User:</label>
        <select th:object="${user}" th:field="*{id}" id="user">
            <option th:each="user : ${users}" th:value="${user.getId()}"
                    th:text="${user.getFullName()}"></option>
        </select>
        <input type="submit" value="SET USER"/>
    </form>
</div>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="EDIT">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="DELETE">
</form>
</body>
</html>