<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section}, 'Users')}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<section>
    <h2>Users</h2>
    <div class="mb-3">
        <a th:href="@{/users/new}" class="btn btn-success">Create new user</a>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="user : ${users}">
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getFullName() + ', ' + user.getYearOfBirth()}">User</a>
        </li>
    </ul>
</section>
</body>
</html>
