<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section}, 'Create User')}">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<section>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Create New User</div>
                <div class="card-body">
                    <form th:method="POST" th:action="@{/users}" th:object="${user}">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full name:</label>
                            <input type="text" th:field="*{fullName}" id="fullName" class="form-control" th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Error</div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="text" th:field="*{email}" id="email" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
                        </div>

                        <div class="mb-3">
                            <label for="yearOfBirth" class="form-label">Year of birth:</label>
                            <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth" class="form-control" th:classappend="${#fields.hasErrors('yearOfBirth')} ? 'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Error</div>
                        </div>

                        <button type="submit" class="btn btn-primary">CREATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
